<!DOCTYPE html>
<html lang="en">

<head>


  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">

  <title>Document</title>

  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@1,100&display=swap" rel="stylesheet">

  <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet" />

  <link rel="stylesheet" href="/css/style.css">

</head>



<body>

  <header>
     <div class = contenedorLogoBarra>
    <span class=logo> <img width="360" src="/images/logo-mercado-liebre.svg" alt="logo de mercadolibre " /> </span>
    <span id="barraBusqueda">
      <input type="search" id="search" name="search" placeholder="Buscar productos"> </span>
      <span id="leyendaSinInteres"> <h3> <i class="fas fa-hand-holding-usd"> </i> Comprá en cuotas y sin tarjeta de crédito</h3>
    </span>  
  </div>

    <span class=menuLista>
      <ul type=none>
        <li> <a href="s"> Ofertas</a></li>
        <li> <a href="s">Tiendas oficiales</a></li>
        <li> <a href="a">Vender</a></li>
        <li><a href="asd">Ayuda</a></li>
        
      </ul>
    </span>
<br/>

    <span class=menuLista>
      <ul type=none>
        <li> <a href="as">Creá tu cuenta</a><i class="far fa-address-card"></i></li>
        <li> <a href="de">Ingresá</a><i class="fas fa-sign-in-alt"></i></li>
        <li> <a href="d"> Mis Compras </a><i class="fas fa-shopping-basket"></i></li>
      </ul>
    </span>

    <div id=menuHam> <i class="fas fa-bars"></i> </div>
  </header>



  <main>
    <div id=banner> <img src="/images/img-home-banner.jpg" width=100%> </div>

    
    <div class=titulosdesecciones>
      <h2> Basado en tu ultima visita </h2>
    </div>

<div class=contenedorProductosSeccion> 
    <article class=productosCaja>

      <div class=imagenDeProductos> <img src="/images/img-cafetera-moulinex.jpg" width="100%" /> </div>


      <div class=contenedorDescripionesPrecios>
        <div class="contenedorCamion"><i class="fas fa-truck" ></i></div>
        <h5 class=precios>$6.770</h5>
        <h5 class=descripDescuento>40% OFF!! </h5>

        <h4 class=descripDescuento>Cafetera Moulinex</h4>
      </div>


    </article>


    <article class=productosCaja>

      <div class=imagenDeProductos> <img src="/images/img-macbook-pro-2019.jpg" width="100%" /> </div>
      <div class=contenedorDescripionesPrecios>
      <div class="contenedorCamion"><i class="fas fa-truck"></i></div>
        <h5 class=precios>$230.000</h5>
        <h5 class=descripDescuento>20% OFF!! </h5>

        <h4 class=descripDescuento>MacBook Pro 2019</h4>
      </div>


    </article>

    <article class=productosCaja>

      <div class=imagenDeProductos> <img src="/images/img-samsung-galaxy-s10.jpg" width=100% /> </div>
      <div class=contenedorDescripionesPrecios>
      <div class="contenedorCamion"><i class="fas fa-truck"></i></div>

        <h5 class=precios>$70.500</h5>
        <h5 class=descripDescuento>10% OFF!! </h5>

        <h4 class=descripDescuento>Samsung Galaxy s10</h4>
      </div>

    </article>

    <article class=productosCaja>

      <div class=imagenDeProductos> <img src="/images/img-tv-samsung-smart.jpg" width=100% /> </div>
      <div class=contenedorDescripionesPrecios>
      <div class="contenedorCamion"><i class="fas fa-truck"></i></div>

        <h5 class=precios>$23.200</h5>
        <h5 class=descripDescuento>5% OFF!! </h5>

        <h4 class=descripDescuento>SmartTv Samsung 43"</h4>
      </div>
    </article>
         
  </div>
    </section>


    <div class=titulosdesecciones>
      <h2> Sección Ofertas </h2>
    </div>

    <div class=contenedorProductosSeccion> 
    <article class=productosCaja>

      <div class=imagenDeProductos> <img src="/images/img-cafetera-moulinex.jpg" width="100%" /> </div>


      <div class=contenedorDescripionesPrecios>
        <div class="contenedorCamion"><i class="fas fa-truck" ></i></div>
        <h5 class=precios>$6.770</h5>
        <h5 class=descripDescuento>40% OFF!! </h5>

        <h4 class=descripDescuento>Cafetera Moulinex</h4>
      </div>


    </article>


    <article class=productosCaja>

      <div class=imagenDeProductos> <img src="/images/img-macbook-pro-2019.jpg" width="100%" /> </div>
      <div class=contenedorDescripionesPrecios>
      <div class="contenedorCamion"><i class="fas fa-truck"></i></div>
        <h5 class=precios>$230.000</h5>
        <h5 class=descripDescuento>20% OFF!! </h5>

        <h4 class=descripDescuento>MacBook Pro 2019</h4>
      </div>


    </article>

    <article class=productosCaja>

      <div class=imagenDeProductos> <img src="/images/img-samsung-galaxy-s10.jpg" width=100% /> </div>
      <div class=contenedorDescripionesPrecios>
      <div class="contenedorCamion"><i class="fas fa-truck"></i></div>

        <h5 class=precios>$70.500</h5>
        <h5 class=descripDescuento>10% OFF!! </h5>

        <h4 class=descripDescuento>Samsung Galaxy s10</h4>
      </div>

    </article>

    <article class=productosCaja>

      <div class=imagenDeProductos> <img src="/images/img-tv-samsung-smart.jpg" width=100% /> </div>
      <div class=contenedorDescripionesPrecios>
      <div class="contenedorCamion"><i class="fas fa-truck"></i></div>

        <h5 class=precios>$23.200</h5>
        <h5 class=descripDescuento>5% OFF!! </h5>

        <h4 class=descripDescuento>SmartTv Samsung 43"</h4>
      </div>
    </article>
    </div>
    </section>
  </main>

  <footer>

    <div>
      <section> <span class=iconosAzules>
          <i class="far fa-credit-card"></i> </span>
        <h4>Pagá con tarjeta o en efectivo </h4>

        <h6>Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en
          puntos de pago. ¡Y siempre es seguro! </h6>

      </section>

      <section> <span class=iconosAzules>
          <i class="fas fa-gift"></i></span>
        <h4>Envío gratis desde $ 2.500 </h4>

        <h6> Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de
          productos. Es un beneficio de Mercado Puntos. </h6>

      </section>


      <section> <span class=iconosAzules>

          <i class="fas fa-user-shield"></i></span>

        <h4>Seguridad, de principio a fin </h4>
        <h6>¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer,
          porque estás siempre protegid@.</h6>
      </section>

      <section>
        <h6>Copyright © 1999-2020 MercadoLiebre S.R.L. </6h>
      </section>
    </div>



  </footer>
</body>

</html>