<!DOCTYPE html>
<html lang="en">

<head>


  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">

  <title>Register - Mercado Liebre</title>

  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@1,100&display=swap" rel="stylesheet">

  <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet" />

  <link rel="stylesheet" href="/css/style.css">

</head>



<body>

  <header>
    <div class=contenedorBarraLogoLeyenda>
      <span class=logo> <img height="50px" width="100%" src="/images/logo-mercado-liebre.svg"
          alt="logo de mercadolibre " /> </span>
      <span id="barraBusqueda">
        <input type="search" id="search" name="search" placeholder="Buscar productos">
      </span>
      <span id="leyendaSinInteres">
        <h3> <i class="fas fa-hand-holding-usd"> </i> Comprá en cuotas y sin tarjeta de crédito</h3>
      </span>
    </div>

    <span class=CajamenuLista>
      <ul type=none>
        <li> <a href="s"> Ofertas </a></li>
        <li> <a href="s"> Tiendas oficiales </a></li>
        <li> <a href="a"> Vender </a></li>
        <li><a href="asd"> Ayuda </a></li>

      </ul>

      <br />


      <ul type=none>
        <li> <a class=liletico href="/register"> Creá tu cuenta </a> <a
            href="/register"><i class="far fa-address-card"></i></a></li>
        <li> <a class=liletico href="/login"> Ingresá </a> <a href="/login"><i
              class="fas fa-sign-in-alt"></i></a></li>
        <li> <a class=liletico href="d"> Mis Compras </a><i class="fas fa-shopping-basket"></i></li>
      </ul>

    </span>

    <div id=menuHam> <i class="fas fa-bars"></i> </div>
  </header>



  <main class="mainRegister">

    <div class="completatusdatoscaja">


      <h1 id=completadatos> Completá tus datos</h1>
    </div>

  <div class="contenedorFormulario">


      <form method="POST" class="formularioRegistro">




            <fieldset>
        <input type="text" id="usuario" name="nombreYapellido"  placeholder="NOMBRE COMPLETO" required>
      
      </fieldset>



      <fieldset>
     
        <input type="text" id="usuario" name="usuario"  placeholder="USUARIO" required>
 </fieldset>
 <fieldset> 

     <input type="email" id="email" name="email" placeholder="liebre@liebre.com" required>
 </fieldset>

 <fieldset class="fechaContendor">

        <label for="bday" class="fechadeB">Fecha de Nacimiento</label>
          <input type="date" id="bday" name="bday">
</fieldset>


<fieldset>

        <input type="text" id="domicilio" name="domicilio"  placeholder="DOMICILIO">
</fieldset>

<fieldset>

        <label for="tipodeu" class="venderOcom" >¿Querés comprar o vender?     </label>
<div class="opCompra">
          <input type="radio" value="comprar" name="tipodeu"  > Comprar </input>
          <input type="radio" value="vender" name="tipodeu" > Vender </input></div>
   </fieldset>



  <fieldset class="interesesContenedor">
        <label for="intereses" class="Intereses"> Intereses  </label>

           <div class="categoriasIntereses">
            <input type="checkbox" id="intereses" name="intereses" value="Electro"> Electro </input>
            <input type="checkbox" id="intereses" name="intereses" value="Moda"> Moda </input>
            <input type="checkbox" id="intereses" name="intereses" value="Hogar"> Hogar </input>
            <input type="checkbox" id="intereses" name="intereses" value="Juguetes"> Juguetes</input>
            <input type="checkbox" id="intereses" name="intereses" value="VidaSana"> Vida Sana</input></div>
      
            </fieldset>
                        




          <fieldset class="fotodePerffield">
      <label for="fotodeU" class="tituloingresafoto"> Ingresá tu foto de perfil


      <input type="file" id="fotodeU" name="fotodeU" class=inputFoto></label>

    </fieldset>


  <fieldset>
        <input type="password" id="pass" name="pass"  placeholder="CONTRASEÑA" required>

      </fieldset>

    <fieldset>
        <input type="password" id="confirpass" name="confirpass"  placeholder="CONFIRMAR CONTRASEÑA" required>
      </fieldset>
    <fieldset class="cajabotonesFormularioRegister">
        <button type="submit" id="submit" name="submit"> Enviar</button>
     
         <button type="reset" id="reset" name="reset">Reset</button>
        </fieldset>


          </form>


   </div>
  </main>

  <footer>

    <div class="threeboxfoot">
      <section class="footersection"> <span class=iconosAzules>
          <i class="far fa-credit-card"></i> </span>
        <h4>Pagá con tarjeta o en efectivo </h4>

        <h6>Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en
          puntos de pago. ¡Y siempre es seguro! </h6>

      </section>

      <section class="footersection"> <span class=iconosAzules>
          <i class="fas fa-gift"></i></span>
        <h4>Envío gratis desde $ 2.500 </h4>

        <h6> Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de
          productos. Es un beneficio de Mercado Puntos. </h6>

      </section>


      <section class="footersection"> <span class=iconosAzules>

          <i class="fas fa-user-shield"></i></span>

        <h4>Seguridad, de principio a fin </h4>
        <h6>¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer,
          porque estás siempre protegid@.</h6>
      </section>
    </div>

    <section class="footersection copyr">

      <h6>Copyright © 1999-2020 MercadoLiebre S.R.L. </6h>
    </section>

  </footer>
</body>

</html>