<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register</title>
</head>

<body>


    <form>
        <fieldset>
            <label for="nombre">Nombre y Apellido</label>
            <input type="text" id="nombre" name="nombre">
        </fieldset>

        <fieldset>
            <label for="usuario">Nombre de Usuario</label>
            <input type="text" id="usuario" name="usuario">
        </fieldset>

        <fieldset>
            <label for="bday">Fecha de Nacimiento</label>
            <input type="date" id="bday" name="bday">
        </fieldset>

        <fieldset>
            <label for="domicilio">Domicilio</label>
            <input type="text" id="domicilio" name="domicilio">
        </fieldset>

        <fieldset>
            <label for="tipodeU">¿Querés comprar o vender?</label>
            <input type="checkbox" id="tipodeU" name="tipodeU" value="Comprar">
            <input type="checkbox" id="tipodeU" name="tipodeU" value="Vender">
        </fieldset>

        <fieldset> 

            interes
        </fieldset>

        <fieldset >

            <label for="fotodeU">Ingresá tu foto de perfil</label>
            <input type="file" id="fotodeU" name="fotodeU">
        </fieldset>

          <fieldset> 
              <label for="pass">Contraseña</label>
              <input type="password" id="pass" name="pass"> 
            </fieldset>

            <fieldset>
                <label for="confirpass">Confirmar Contraseña</label>
                <input type="password" id="confirpass" name="confirpass">
            </fieldset>
             
              <button type="submit" id="submit" name="submit"> Enviar</button>
              <button type="reset" id="reset" name="reset">Reset</button> 


    </form>

</body>

</html>