


body { font-family: 'roboto' , sans-serif;
    
    font-size: 12px;
display: block;}




#header { display:block;
    background-color: #EAC926 ;} 

    #menuHam { color:white;
    background-color: blue;
display: inline;
position: center;}

.logo { width: 360px;}

h2 {font-size: 24px;}

.precios {font-size: 18px;} 

.descripDescuento { font-size: 16px;}

.iconosAzules { color:blue;}



