body { font-family: 'roboto' , sans-serif;
    
    font-size: 12px;}


#header { background-color: #EAC926 ;} 



.ultimaBusquedaOfertas  { font-size: 24px;} 

.precios {font-size: 18px;} 

.descripDescuento { font-size: 16px;}




