*{box-sizing: border-box;}

  body { font-family: 'roboto' , sans-serifg;
    font-size: 12px;
      display: block;
      overflow-x:hidden;
     text-align: center;
      width: 100%;
    margin: 0;}
    
   header { margin: auto;
    background-color: #EAC926 ;
      padding: 0px;
        display: block;} 

      .contenedorBarraLogoLeyenda {
        display: flex;
        flex-wrap: wrap;
        padding-top: 20px;
      }


      #bday { border-radius: 4px;
        border: none;
        width: 25%;
         background-color: lightslategray;
      }
         .logo { width: 50%;
          height: auto;
           }

          #barraBusqueda { width: 50%;
            padding: 0;
              margin: auto;
              box-sizing: border-box;}

            #search { border-radius: 3px;
             border: 1px solid grey ;
             width: 75%;
             height: 26px;
             text-align: center;
                 box-sizing: border-box;}
                 input#search:focus { border: 3px solid grey;
                background-color: lavender;}

                 #leyendaSinInteres { width: 100%;
                margin: auto;}

        .CajamenuLista {display: none;}

        li { margin: 1px 5px ;
        color: black;}

           #menuHam { display: inline-block;
                             color:white;
                         background-color: blue;
                         width: 25px;
                         height: 25px;
                         text-align: center;
                         font-size: 16px;
                         position: center;
                         padding: 3.5px;
                         border-radius: 5px;
                         margin: 0px auto 12px auto;
                        padding-left: 5px;
                        padding-right: 5px;}
                        
        main {   width: 100%;
                background-color: #ebebeb;
                align-items: center;
                margin:auto;
                margin-bottom: 5px;
                padding-bottom: 5px;}

a {text-decoration:none;
color: black;}
a:visited{color:black;}
                   

                       .mainLogin { background-color: #ebebeb;
                      height: 35vh;
                    padding-top: 30px;
                  }

                .formlogin {display: flex;
                  flex-direction: column;
                  align-items: center; 
                  width: 100%;
                  background-color: #ebebeb;
                  align-items: center;
                  margin:auto;
                
                  padding: 10px 50px;} 

                  .mainRegister { 
                    display: flex;
                    flex-direction: column;
                    width: 100%;
                    margin: auto;                 
                  }
                
                  
                  .botonlogin { background-color: blue;
                    color: white;
                                 text-align: center;
                                border-radius: 4px;
                              border: 0px solid blue;}

                              .passenlogin { border-radius: 4px;
                               padding: 4px;
                               border: 1px solid grey;
                              }

                              .userenlogin { border-radius: 4px;
                               padding: 4px;
                               border: 1px solid grey
                              }


                  .formularioRegistro { display: flex;
                    margin: 0px auto 0px auto;
                  flex-direction: column;
                align-items: center;
              width: 85%;
            background-color: transparent;
         
       
      border: 2px solid grey;
    border-top: none;
  border-bottom: none;}

  .fotodePerffield { padding:10px;}
  

  .inputFoto { color: transparent;
  margin: auto;}

 .completatusdatoscaja { display: flex;
  margin: 0px auto 0px auto;
flex-direction: column;
align-items: center;
width: 85%;
background-color: transparent;


border: 2px solid grey;
border-top: none;
border-bottom: none;}

.opCompra{ display: flex;
flex-direction: row;
justify-content: center;
margin:2px;}

                

                h2 {text-align: left;
                margin-left: 8%;}

                 button  {margin: 10px auto;           
                  width: 50%;
                  background-color: blue;
    color: white;
    text-align: center;
    border-radius: 4px;
    border: 0px solid blue;
                 
              
                height:30px;
                
                 border-radius: 5px;}


                 .botonlogin {
    background-color: blue;
    color: white;
    text-align: center;
    border-radius: 4px;
    border: 0px solid blue;}

                

               button:hover { background-color: #0022AA;
                color: white;}


                #pass {margin: 5px auto;
                  width: 50%;
                height:30px;
              border-radius: 8px  ;
            border: 1px solid grey;
          text-align:center }

              #usuario {margin: 5px auto;
                width: 50%;
              height:30px;
            border-radius: 8px ; 
          border: 1px solid grey;
        text-align:center }

        #domicilio {margin: 5px auto;
          width: 50%;
        height:30px;
      border-radius: 8px ; 
    border: 1px solid grey;
  text-align:center; }

  .fechadeB { font-size: 16px;
   color: black;
  font-weight: bold;
margin: 3px 10px;}

.Intereses {  font-size: 16px;
  color: black;
 font-weight: bold;
margin: 3px 10px
;
text-align: left;}

.interesesContenedor { display: flex ;
flex-direction: row;
justify-content: center;
align-items: center;}

.fechaContenedor { padding-top: 3px;
margin: 2px auto;}

.venderOcom { font-size: 16px;
font-weight: bold;
margin:2px auto;}

.categoriasIntereses {  display: flex;
  text-align: left;
  flex-direction: row;
  flex-wrap: wrap;

  align-items: center;
  font-size: 14x;
  padding:15px;
 
 color:black;
justify-content: left;}
  
  fieldset{ border: none;
  border-bottom: 1px dashed black;
padding: 2px auto;
width: 100%;
margin: auto;}
            #confirpass {margin: 5px auto;
              width: 50%;
            height:30px;
          border-radius: 8px  ;
        border: 1px solid grey;
      text-align:center }

          #email {margin: 5px auto;
            width: 50%;
          height:30px;
        border-radius: 8px  ;
      border: 1px solid grey;
    text-align:center}


      #pass:hover {margin: 5px auto;
        width: 50%;
      height:30px;
    border-radius: 8px  ;
  border: 2px solid grey; }

    #usuario:hover {margin: 5px auto;
      width: 50%;
    height:30px;
  border-radius: 8px ; 
border: 2px solid grey; }

  #confirpass:hover {margin: 5px auto;
    width: 50%;
  height:30px;
border-radius: 8px  ;
border: 2px solid grey; }

#email:hover {margin: 5px auto;
  width: 50%;
height:30px;
border-radius: 8px  ;
border: 2px solid grey;}

        #fotodeU {width: 30%;}

        .tituloingresafoto { font-size: 16px;
        text-align: left;
        font-weight: bold;
        }

        

  .interesesCaja { width: 100%;
                   display: flex;
                  flex-direction: column;}

                            
                 

           

              
        

                #banner { margin-bottom: 0px;} 

                .titulosdesecciones { display: block;}

                h2 {font-size: 24px;}

        .contenedorProductosSeccion { display: flex;
                    flex-direction: column;
                  }

                

             .productosCaja {
                        background-color: white;
                        width: 300px;
                    padding: 0px;
                    margin: 5px auto;
                    }
                      
                    .imagenDeProductos { width: 100%;
                    }
                      
                    .contenedorDescripionesPrecios {display: flex;
                    flex-direction: column ;
                   border-top: 1px solid #ebebeb;
                     padding: 15px;
                    margin-bottom: 10px;  }
                    

                     .contenedorCamion {
                      width: 35px;
                      height: 35px; 
                      padding: 7px;
                        margin-left: 85%;
                        margin-top: -30px;  
                        border-radius: 50%; 
                        background-color:#FFF;
                    border: 2px solid #39b54a;
                  align-items: center;
                justify-content: center;}

                    .fa-truck { font-size: 16px; 
                        color: #39b54a;
                    margin: auto;}

                    .precioYdescuento { display: flex;
                        flex-direction: row;
                      justify-content: left;
                    align-items: flex-start;
                     padding: 2px;
                    margin: 0px 0px 8px 0px;}

                    h5.precios { margin: 0px 3px 0px 0px;
                      text-align: left;
                  }

                  h5.descuento { margin:0px 0px 0px 3px ;
                  text-align: left;}
                        .precios { font-size: 18px;
                            width:30% ;
                          margin-right: 0px;
                        padding: 0%;
                      }
                          

                            
                            
                            .descuento { font-size: 16px;
                            width: 70%;
                            color: #39b54a;
                          margin: 30px auto;} 

                            .descrip {font-size: 16px; 
                            color: grey;}

                            h4.descrip {display: none;}

                             
                                

                            .ckeckboxlabel {display: flex;
                            flex-direction: column;}
  
                            .iconosAzules { color:blue;
             font-size: 2em;
             margin-bottom: 10px;
            text-align: center;}

            .iconosAzules:hover { color: silver;}


            footer { padding: 10px;}

            .threeboxfoot { display: flex;
            flex-direction: column;
            align-items: center;
          
      }

            
@media (min-width: 361px) {

    h4.descrip {display: block;
    margin: auto;}

    h2 { text-align: center;
    margin: 10px auto;}

    .categoriasIntereses {justify-content: center;}

    .contenedorProductosSeccion{ display: flex;
    flex-direction: row;
  flex-wrap: wrap;
justify-content: center;}
   .contenedorProductosSeccion .productosCaja { box-shadow: 0px 0px 10px rgb(100, 100, 100);
    margin: 5px 15px  ;
    padding: 1px;
  width: 40%;}

    #menuHam { display: none;}
    .menuLista {display: block;}
    .contenedorBarraLogoLeyenda { 
      display: flex;
      flex-direction: row;
      }
       .logo{height: auto;
      width: 33%;}
      #barraBusqueda{ width: 33%;
        margin: auto;   }
          #search {width: 100%;
          border-radius: 4px;
        text-align: center;}
          #leyendaSinInteres{
            width: 33%;
            margin: auto;
         }

         .contenedorFormulario { border:10px groove lightslategray;
        width: 80%;
      margin: 10px;
    padding-bottom: 10px; }

         .liletico {display: none;}

         li { margin-right: 30px;
        color:black}
          
            .CajamenuLista{display: flex;
            flex-direction: row
            ;
            justify-content: space-between;}
            ul {display: flex;
            flex-direction: row;
        align-items: space-between;}

        footer{display: flex;
        flex-direction: column;
      text-align: center;
    align-items: center;}

        .threeboxfoot { display: flex;
          flex-direction: row ;
        padding: 2px;
      margin: 1px;
    align-items: center;}     
    .footersection { margin:auto 7px;}

    .formularioRegistro { display: flex;
      margin: 0px auto 0px auto;
    flex-direction: column;
  text-align: center;
width: 85%;
background-color: transparent;
border: none;}

.completatusdatoscaja{border: none;}



        
            }


            


@media (min-width: 769px) {
    h4.descrip {display: block;
    margin-left: 0px;}
    .productosCaja {box-shadow: 0px 0px 10px rgb(100, 100, 100);
    margin: 15px; }
     #menuHam {display: none;}
     .menuLista {display: block;}
  .contenedorProductosSeccion { display: flex;
            flex-direction: row;
          flex-wrap: nowrap;
        padding: 5px 80px}
            .contenedorBarraLogoLeyenda { 
                display: flex;
                flex-direction: row;
                }
                 .logo{height: auto;
                width: 33%;}

                #barraBusqueda{ width: 33%;
                  margin: auto;
                               }

                               .liletico {display: inline;
                              ;}

                              .li { margin-right: 0px;
                              color: black;}

                    #search {width: 100%;}
                    .CajamenuLista{display: flex;
                        flex-direction: row; 
                 justify-content: space-between;}
                    ul {display: flex;
                       flex-direction: row;
                    align-items: space-between;}
                #leyendaSinInteres{
                   width: 33%;
                   margin: auto;    }
                   
                   .mainLogin { background-color: #ebebeb;
                    height: 50vh;
                  padding-top: 50px;
                }


                           


                   footer{display: flex;
                    flex-direction: column;
                  text-align: center;
                align-items: center;
              font-size: 16px;}
            
                    .threeboxfoot { display: flex;
                      flex-direction: row ;
                    padding: 2px;
                  margin: 1px;
                align-items: center;}     
                    
                .footersection { margin:auto 50px;}
                        }